@import "tailwindcss";

/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

input {
  caret-color: green;
}

*::selection {
  color: black;
  background-color: #7bf1a8;
}

/* ===== Scrollbar Style (Light Mode) ===== */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #7bf1a8 #e5e7eb; /* thumb, track */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #e5e7eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #7bf1a8;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4ade80;
}

/* ===== Scrollbar Style (Dark Mode) ===== */
.dark * {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4ade80 #364153;
}

.dark::-webkit-scrollbar-track {
  background: #364153; /* gray-800 */
}

.dark::-webkit-scrollbar-thumb {
  background-color: #4ade80; /* green-400 */
  border-radius: 9999px;
  border: 2px solid #364153; /* match track */
}

.dark::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e; /* green-500 */
}
